body {
  font-family : sans-serif;
  background-color: gray;
}
h1 {
  font-size: xx-large;
  color: black;
  background-color: white;
}
a:link, a:visited  {
  color: white;
  background-color: black;
  padding: 4pt;
  font-size: x-large;
  margin: 4pt;
}
a:hover, a:active {
  color: orange;
  background-color: black;
  padding: 4pt;
  font-size: x-large;
  margin: 4pt;
}
#footer {
  font-size: x-small;
  font-family: system-ui;
}
li {
  margin-bottom: 1em;
  margin-top: 1em;
}
