body {
  font-family : sans-serif;
}
h1 {
  font-size: xx-large;
}
a:link, a:visited  {
  color: white;
  background-color: black;
  padding: 4pt;
  font-size: x-large;
  margin: 4pt;
}
a:hover, a:active {
  color: orange;
  background-color: black;
  padding: 4pt;
  font-size: x-large;
  margin: 4pt;
}
#footer {
  font-size: small;
  font-family: system-ui;
}
